public/assets/
public/system/
public/uploads/
log/
tmp/
doc/
db/schema.rb
config/database.yml
config/secrets.yml
.DS_Store
.yardoc
.tags
.tags_sorted_by_file
.rsync_cache
.rspec
.idea
.ruby-gemset*
backups
public/sitemap.xml
public/robots.txt
